// Responsive breakpoints
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

// Typography
$text-primary: #3b3a40;
$text-secondary: #6c6b70;
$text-tertiary: #b5b5b7;
$text-white: #ffffff;

// Layout
$layout-grey-1: #e6e6e7;
$layout-grey-2: #e9e9ea;
$layout-grey-3: #ececed;
$layout-grey-4: #efeff0;
$layout-grey-5: #f2f2f3;
$layout-grey-6: #f6f6f6;
$layout-grey-7: #f9f9f9;
$layout-grey-8: #fcfcfc;
$layout-white: #ffffff;

// Branding
$brand-teal: #348193;
$brand-teal-dark: #1d5e6d;
$brand-teal-light: #cce0e4;
$brand-green: #00d095;
$brand-green-light: #bff3e5;

// Accent
$accent-pink: #ce5b98;
$accent-blue: #1babd3;
$accent-purple: #6c57be;
$accent-orange: #ffa567;
